@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.aumento-formulario {

    &__grid {
        @include m.grid(3, 2rem);
        margin-bottom: 5rem;
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    &__flex {
        display: flex;

        gap: 2rem;
        align-items: center;

        margin-bottom: 5rem;
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    }
    &__contenedor {
        display: flex;
        width: 100%;
        gap: 2rem;
    }

    &__contenedor-sm {
        width: 100%;
    }
    &__contenedor-xs {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }

    &__campo-contenedor {
        width: 100%;
    }
    &__boton {
        height: 100%;
        width: 20%;
        white-space: nowrap;
    }

}
