@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.ingreso {

    &__grid {
        display: grid;
        column-gap: 1rem;
        row-gap: 1.5rem;
        
        @include m.tablet {
            grid-template-columns: 1fr 2fr 4fr 9fr 5fr 3fr 3fr 1fr;
        }


    }

    &__contenedor {
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    }

    &__icono {
        font-size: 3rem;
        padding: 0;
        background-color: inherit;
        color: v.$azul;
        transition: all .3s;

        &--save {
            &:hover {
                color: v.$verde;
                background-color: inherit;
            }
        }

        &--delete {

            &:hover {
                color: v.$rojo;
                background-color: inherit;
            }
        }

        &--confirm {
            color: v.$verde;
            cursor: default !important;

            &:hover {
                background-color: inherit;
            }
        }
    }

    &__opciones-contenedor {
        flex-direction: column;
        padding: 2rem 0 0 2rem;
        font-size: 1.6rem;
    }

    &__numero {
        color: v.$negro;
        font-size: 1.4rem;

        @include m.phone {
            font-size: 1.9rem;
        }
    }

    &__campo {
        width: 50%;

        @include m.tablet {
            width: 100%;
        }
    }

    &__label {
        display: none;
        text-align: center;
        
        @include m.tablet {
            display: block;
        }
    }

    &__contenedor-campo-movil {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include m.tablet {
            display: block;
        }
    }

    &__label-movil {
        display: block;
        font-size: 1.4rem;
        margin: 0 0 .5rem 0;
        text-transform: uppercase;
        color: v.$grisClaro;
        font-weight: v.$bold;
        white-space: nowrap;
        
        @include m.tablet {
           display: none;
            
        }
    }

    &__contenedor-btns {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        padding-bottom: 2rem;

        border-bottom: 1px solid v.$grisClaro;


        @include m.tablet {
            margin-top: 0;
            border-bottom: none;
        }
    }

    &__contenedor-precio {
        display: flex;
        flex-direction: row;
        
        @include m.tablet {
            flex-direction: column;
            
        }
    }

    &__campo-precio {
        border-radius: 1rem 0rem 0 1rem;
        
        @include m.tablet {
            border-radius: 1rem 1rem 0 0;
            
        }

        &--checked {
            border-color: v.$azul;
        }
    }

    &__contenedor-checkboxIVA {

        height: 1.3rem;

    }

    &__checkbox-IVA {
        width: 100%;
        border: 0.5px solid v.$gris;
        color: v.$negro;
        font-size: 1.1rem;
        font-weight: v.$bold;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        border-radius: 0rem .5rem .5rem 0rem;

        @include m.tablet {
            height: 100%;
            border-radius: 0rem 0rem .5rem .5rem;
        }

        &:hover {
            background-color: darken(v.$blanco, 5%);
        }

    }
    &__checkbox-IVA--checked {

        color: v.$blanco;
        background-color: v.$azul;;

        &:hover {
            background-color: darken(v.$azul, 5%);
        }

    }


}