@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.proveedor-formulario {

    &__grid {
        @include m.grid(1, 2rem);
        margin-bottom: 5rem;
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: .5rem;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    &__contenedor {
        display: flex;
        width: 100%;
        gap: 2rem;
    }

    &__contenedor-sm {
        width: 100%;
    }

    &__venta {
        display: flex;
        justify-content: space-between;
    }
    &__venta-campo {
        width: 50%;
    }
    &__venta-boton {
        @include m.boton(v.$verde, v.$blanco);
        border-radius: .5rem;
    }
}