@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.provider {


    &__contenedor-boton {
        display: flex;
        justify-content: space-between;

    }

    &__boton {
        @include m.boton(v.$azul, v.$blanco);
        border-radius: .5rem;
        display: block;
        
        @include m.tablet {
            
        }

        &--eliminar {
            margin: 1rem 0 0 0;
            padding: .5rem 1rem .5rem 1rem;
            background-color: v.$rojo;

            &:hover {
                background-color: darken(v.$rojo, 100%);
                color: v.$rojo;
            }
        }

        &--modificar {
            margin: 1rem 0 0 0;
            padding: .5rem 1rem .5rem 1rem;
            background-color: v.$azul;

            &:hover {
                
                background-color: darken(v.$azul, 10%)
            }
        }
    }

    &__grid {
        @include m.grid(2, 4rem);
    }
    &__ganancia {
        font-size: 2rem;
        color: v.$verde;
    }

    &__contenedor {
        color: v.$blanco;
        background-color: v.$grisOscuroAzul;
        padding: 2rem; // Este padding provoca que no se vea el utlimo elemento adecuadamente, loop
        margin: 3rem 0 3rem 0;
        border-radius: 1rem;
        overflow: hidden;
        white-space: nowrap;


        h3 {
            text-align: center;
            margin-bottom: 1.5rem;
            font-size: 6rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        p {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}