@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.provider {


    &__contenedor-boton {
        display: flex;
        justify-content: space-between;

    }

    &__boton {
        @include m.boton(v.$azul, v.$blanco);
        border-radius: .5rem;
        display: block;

        &--eliminar {

            background-color: v.$rojo;
            padding: .5rem 1rem .5rem 1rem;
            width: auto;

            &:hover {
                background-color: darken(v.$rojo, 100%);
                color: v.$rojo;
            }
        }

        &--modificar {

            background-color: v.$azul;
            padding: .5rem 1rem .5rem 1rem;
            width: auto;

            &:hover {
                background-color: darken(v.$azul, 10%)
            }
        }
    }

    &__grid {
        @include m.grid(2, 4rem);
    }
    &__ganancia {
        font-size: 2rem;
        color: v.$verde;
    }

    &__contenedor {
        color: v.$blanco;
        background-color: v.$grisOscuroAzul;
        margin: 3rem 0 3rem 0;
        border-radius: 1rem;
        overflow: hidden;
        white-space: nowrap;


        h3 {
            text-align: center;
            margin-bottom: 1.5rem;
            font-size: 4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 1rem;

            @include m.phone {
                font-size: 6rem;
            }
        }
        
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 1rem;
        }
    }
    &__contenedor-boton {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem;
        gap: 1rem;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
            gap: 0;
        }
    }
}