@use '../base/variables' as v;
@use '../base/mixins' as m;


.footer {

    &__contenedor {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        background-color: v.$grisOscuroAzul;
        color: v.$blanco;


        text-align: center;

        font-size: 1.4rem;

        
        padding: 2rem;
        height: auto;
        
        @include m.phone {
            font-size: 1.8rem;
        }
        @include m.tablet {

        }

    }

    &__grid {
        display: flex;
        justify-content: space-around;

        a {
            text-align: start;
            width: 100%;
            border-left: 1px solid v.$blanco;
            padding-left: 2rem;
            color: v.$blanco;
            transition: color .3s ease, border-color .3s ease;
            border-color: v.$blanco;
            
            &:hover {
                transition: color .3s ease, border-color .3s ease;
                
                border-color: v.$azul;
                color: v.$azul;
            }
        }
    }


    &__nombre {

        color: v.$blanco;
        font-size: 1.8rem;
        margin-top: 2rem;
        text-transform: uppercase;
        letter-spacing: 5px;

        span {
            font-weight: v.$bold;
        }

    }
}