@use '../base/variables' as v;
@use '../base/mixins' as m;


.footer {

    &__contenedor {
        background-color: v.$grisBlanco;
        color: v.$blanco;
        font-weight: v.$bold;
        margin: 10rem 0 0 0;
        text-align: center;
        padding: 4rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        
        line-height: 3rem;
        
        @include m.phone {
            font-size: 1.8rem;
        }
        @include m.tablet {
            line-height: 0;
        }

    }

    &__nombre {
        text-transform: none;

    }
}