@use '../base/variables' as v;
@use '../base/mixins' as m;

.fuentes {

    &__contenedor-xl {
        width: 95%;
        margin: 2rem auto;
        padding: 2rem;

        @include m.tablet {
            height: 60vh;
        }

        h2 {
            font-size: 5rem;
        }

        li {
            font-size: 1.6rem;
            list-style: disclosure-closed;
        }
    }
}