@use '../base/variables' as v;
@use '../base/mixins' as m;

.home {

    &__contenedor-xl {
        width: 100%;
        margin-top: 14.5rem;

    }

    &__contenedor-principal {

        width: 100%;
        height: 100%;
        margin: 2rem auto 1rem auto;
        padding: 1rem;

        @include m.phone { // Tablet
            width: 100%;
            margin: 6rem auto 14rem auto;
            
        }
        @include m.tablet { // Pc
            width: 75%;
            margin: 6rem auto 2rem auto;
        }
        
    }

    &__heading {
        font-size: 4rem;

        @include m.phone {
            font-size: 6rem;
        }
        
        @include m.tablet {
            font-size: 8rem;
        }
    }

}