@use '../base/variables' as v;

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: v.$fuente_textos;
    margin: 0;
}
textarea, input, label, a {
    font-family: v.$fuente_textos;
}
select, input[type="checkbox"] {
    cursor: pointer;
}
input[type="radio"] {
    cursor: pointer;
}
input:focus, textarea:focus, select:focus {
    outline: none;
  }
  
a {
    text-decoration: none;
}
li {
    list-style: none;
}
p {
    margin: 0;
}

.bg-home {
    background-color: v.$blancoFondo;
}
.bg-dashboard {
    background-color: v.$blancoFondo;
    
}

// Estilos de SweetAlert2 (popups/alertas)

.swal2-popup {
    font-size: 1.4rem!important;
}
.swal2-cancel {

}
.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
    font-weight: v.$bold;
}
.btn-danger {
    color: v.$blanco;
    background-color: v.$azul;
    border-color: v.$azul;

    &:hover {
        background-color: darken(v.$azul, 10%);
    }
}
.btn-success {
    background-color: v.$rojo;
    transition: all .5s ease;
    color: v.$blanco;

    &:hover {
        background-color: darken(v.$rojo, 20%);
    }
}
