@use '../base/variables' as v;

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: v.$fuente_textos;
}

.bg-home {
    background-color: v.$grisBlanco;
}
.bg-dashboard {
    background-color: v.$grisBlanco;
}

