@use '../base/variables' as v;

/** Media Queries **/
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: 100%;

    @include tablet {
        width: auto;
    }

    &:hover {
        background-color: darken($bgColor, 10%);
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin textoDegradado($color) {
    background: linear-gradient(to right, $color 0%, lighten($color, 30%) 100%);
    color: transparent;
    background-clip: text;
    text-align: center;
    
}
@mixin texto-fluido($min, $max) {
    font-size: clamp($min, -0.8rem + 10vw ,$max);
}
@mixin reset-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin tags {
    @include reset-lista;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;

    > li {
        background-color: v.$azul;
        color: v.$blanco;
        padding: 1rem;
        border-radius: .5rem;
        font-size: 1.4rem;
        font-weight: v.$bold;
    }
}
@mixin bg-gradient($bg_color) {
    background-image: linear-gradient(to left top, $bg_color, lighten($bg_color, 15%));
}