@use '../base/variables' as v;

h1, h2, h3 {
    margin: 0 0 calc(v.$separacion / 2) 0 ;
    font-weight: v.$bold;
    
}
h1 {
    font-size: 4rem;
    font-family: v.$fuente_logo;
    
}
h2 {
    font-size: 8rem;
    text-align: center;
    margin: 1rem 0 4rem 0;
    color: darken(v.$grisOscuroAzul, 8%);
    font-family: v.$fuente_headings;

}
h3 {
    font-size: 4rem;
    font-family: v.$fuente_headings;
}

p {
    font-size: 1.6rem;
    line-height: 1.8;
}