
// Fuentes
// $fuente_headings: 'Oswald', sans-serif;
$fuente_logo: 'Oswald', sans-serif;
$fuente_textos: 'Roboto', sans-serif;

$fuente_headings: 'Montserrat', sans-serif;


$light: 300;
$regular: 400;
$bold: 700;
$black: 900;


// Tamaño de Media Queries
$phone: 480px;
$tablet: 770px;
$desktop: 1024px;

// Colores
$blanco: #FFFFFF;
$blancoFondo: #F7F7F7;
$negro: #000;
$grisOscuroVerde: #283F47;
$grisOscuroAzul: #1f2937;
$grisMedio: #374251;
$grisClaro: #6B7280;
$grisBlanco: #9CA3AF;
$grisBlancoClaro: #E6E8ED;

$gris: #64748B;
$gris-claro: #F8FAFC;

$azul: #0284C7;
$rojo: #EF4444;
$verde: #078F22;
$amarillo: #D9A421;
$naranja: #ffa500;

$azulSobrio: #025c99;
$rojoSobrio: #c42323;
$verdeSobrio: #086e29;
$amarilloSobrio: #b3881c;
$naranjaSobrio: #ff8000;


/// <<<


// $cyan: #0891B2;
// $azul: #2563EB;
// $indigo: #4338CA;
// $morado: #7C3AED;
// $naranja:#F59E0B;
// $rosa: #DB2777;
// $naranjaOscuro: #ff735c;

// $gris: #6b7280;
// $grisOscuro: #4B5563;
// $grisClaro: #f3f4f6;
// $grisAzul: #385964;


$separacion: 5rem;