
// Fuentes
$fuente_headings: 'Oswald', sans-serif;
$fuente_textos: 'Roboto', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;
$black: 900;


// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blanco: #FFFFFF;
$blancoFondo: #F7F7F7;
$negro: #000;
$grisOscuro: #1f2937;
$grisMedio: #374251;
$grisClaro: #6B7280;
$grisBlanco: #9CA3AF;

$azul: #0284C7;


$rojo: #EF4444;
$verde: #078F22;


// $cyan: #0891B2;
// $azul: #2563EB;
// $indigo: #4338CA;
// $morado: #7C3AED;
// $naranja:#F59E0B;
// $rosa: #DB2777;
// $naranjaOscuro: #ff735c;

// $gris: #6b7280;
// $grisOscuro: #4B5563;
// $grisClaro: #f3f4f6;
// $grisAzul: #385964;


$separacion: 5rem;