@use '../base/variables' as v;

.alerta {

    font-size: 1.2rem;
    margin: .3rem 0 .3rem 0;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
    color: v.$blanco;

    &__error {
        @extend .alerta;
        background-color: v.$rojo;
    }
    &__exito {
        @extend .alerta;
        background-color: v.$verde;
    }
}

.borde {

    &__error {
        border-color: v.$rojo;
    }

    &__exito {

    }
}

.mensaje {
    border-radius: .5rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-weight: v.$bold;
    text-align: center;
    text-transform: uppercase;

    padding: 1rem;

    &__vacio {
        @extend .mensaje;
        border: .5px solid v.$grisBlanco;
        color: v.$grisClaro;
    }

    &__error {
        @extend .mensaje;
        border: .5px solid v.$rojo;
        color: v.$rojo;
    }

    &__info {
        @extend .mensaje;
        border: .5px solid v.$grisBlanco;
        color: v.$grisClaro;
    }
}

