@use '../base/variables' as v;
@use '../base/mixins' as m;


.enlace {
    display: inline-block;
    font-size: 1.4rem;
    color: v.$azul;
    &:hover {
        color: darken(v.$azul, 10%);
        cursor: pointer;
    }
    
    &__normal {
        @extend .enlace;
        font-size: 1rem;
        padding: .5rem 0 0 .5rem;
    }

    &__mensaje {
        @extend .enlace;
        font-size: 1.2rem;
        color: lighten(v.$azul, 25%);

        @include m.phone {
            font-size: 1.6rem;
        }

        &:hover {
            color: lighten(v.$azul, 10%);
        }
    }
}
