@use '../base/variables' as v;
@use '../base/mixins' as m;

.formulario {

    &__contenedor-md {
        width: 95%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    &__contenedor {
        width: 40%;
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }



    &__campo-contenedor {
        margin: 0 0 3rem 0;
        &--checkbox {
            margin: 0 0 1.5rem 0;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            
            label {
                margin: 0;
                text-transform: none;
                font-weight: v.$regular;
            }
        }
    }

    &__label {
        font-size: 1.4rem;
        display: block;
        margin: 0 0 .5rem 0;
        text-transform: uppercase;
        color: v.$grisClaro;
        font-weight: v.$bold;

        // Crear producto
        &--small {
            color: v.$grisClaro;
            font-size: 1.3rem;

        }
    }  

    &__contenedor-radio {
        margin: 0 0 1.5rem 0;
        display: flex;
        border: 1px solid v.$grisBlanco;
        border-radius: .75rem;
        padding: 1rem;
        gap: 1rem;
        justify-content: space-between;

    }

    &__campo{
        width: 100%;
        border-width: 1px;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.6rem;


        &--codigo {
            color: v.$negro;
            text-align: center;
            font-weight: v.$bold;
            background-color: v.$grisBlanco;
            font-size: 2.5rem;
            cursor: not-allowed;
        }
        &--no-activo {
            cursor: not-allowed;
            background-color: lighten(v.$grisBlanco, 20%);
            color: v.$grisBlanco;

        }

    }

    &__boton {
        @include m.boton(v.$azul, v.$blanco);
        border-radius: .5rem;
        
        @include m.tablet {
            width: 100%;
        }
    }
    &__boton--rojo {
        background-color: v.$rojo;
        transition: all .5s ease;

        &:hover {
            background-color: v.$negro;
            color: v.$rojo;
        }
    }


    &__contenedor-busqueda {
        display: flex;
        border: 1px solid v.$grisBlanco;
        border-radius: .5rem;
        padding: 1rem;
        background-color: v.$blanco;
        width: 15%;


    }
    &__icono-busqueda {
        font-size: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0 1rem 0 0;
        color: v.$grisBlanco;
        
    }
    &__campo-busqueda {
        border: none;
        font-size: 1.6rem;
        width: 100%;
    }

    &__contenedor-boton {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__contenedor-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__checkbox {
        width: 3rem;
        height: 3rem;

    }

    &__contenedor-enlaces {

    }
    
}





