@use '../base/variables' as v;
@use '../base/mixins' as m;


.font-regular {
    font-weight: v.$regular;
}
// Los contenedores me van a servir para añadir los media querie y son vitales en el responsive
.contenedor-md {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-bottom: 5rem;
}

.contenedor-xl {
    width: 100%;
    display: flex;
}

.no-scroll {
    overflow-y: hidden;
}

.boton {
    @include m.boton(v.$azul, v.$blanco);
    border-radius: .5rem;
    
    @include m.tablet {
        width: 100%;
    }
}
.relative {
    position: relative;
}
.no-opacity {
    opacity: 0;
}
.display-none {
    display: none;
}
.width-full {
    width: 100%;
}
.height-full {
    height: 100%;
}
.text-right {
    text-align: end;
}
.text-center {
    text-align: center;
}
.font-bold {
    font-weight: v.$bold;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mb-10 {
    margin-bottom: 10rem;
}
.no-pointer {
    cursor: default !important;
}
.pointer {
    cursor: pointer;
}
.b-red {
    border: solid 1px v.$rojo!important;
}
.b-yellow {
    border: solid 1px v.$naranja!important;
}
.b-green {
    border: solid 1px v.$verde!important;
}
.c-red {
    color: v.$rojo!important;
}
.font-sm {
    font-size: 4rem!important;
}
.btn-reset { // Reinicia los estilos de un button
    background-color: transparent;
    border: none;
}
.x-scroll {
    overflow-x: scroll;
}