@use '../base/variables' as v;
@use '../base/mixins' as m;

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: center;
    
    @include m.phone {
        font-size: 1.5rem;
    }

    &__thead {
        background-color: v.$grisMedio;
        color: v.$blanco;
    }

    &__th {
        padding: 1rem;

        i {
            margin-left: 1.5rem;
        }
        &:hover {
            i {
                color: lighten(v.$azul, 10%);
            }
        }


    }

    &__tr {
        &:nth-child(even) {
            background-color: v.$grisBlancoClaro;
        }
    }

    &__td {
        padding: 1.5rem;
        
        &--acciones {
            @extend .table__td;
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
            align-items: center;
        }
    }
    &__accion {
        all: unset;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: v.$bold;

        @include m.phone {
            font-size: 1.4rem;
        }

        &--editar {
            color: v.$azul;
        }
        &--eliminar {
            color: v.$rojo;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

