@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.stats {

    &__grid-cards {

        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }

    &__contenedor-card {
        color: v.$blanco;
        margin: 3rem 0 3rem 0;
        border-radius: 1rem;
        overflow: hidden;
        white-space: nowrap;
        padding: 1rem;

        &--red {
            @include m.bg-gradient(v.$rojoSobrio);
            &:hover {
                @include m.bg-gradient(darken(v.$rojoSobrio, 5%));
            }
        }

        &--orange {
            @include m.bg-gradient(v.$naranjaSobrio);
            &:hover {
                @include m.bg-gradient(darken(v.$naranjaSobrio, 5%));
            }
        }

        &--green {
            @include m.bg-gradient(v.$verdeSobrio);
            &:hover {
                @include m.bg-gradient(darken(v.$verdeSobrio, 5%));
            }
        }

        &--blue {
            @include m.bg-gradient(v.$azulSobrio);
            &:hover {
                @include m.bg-gradient(darken(v.$azulSobrio, 5%));
            }
        }

    }

    &__cards-numero {
        text-align: center;
        margin: 0;
        font-size: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1rem;
        font-weight: v.$bold;
    }

    &__cards-descrip {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding: 0 1rem;
        font-size: 1.4rem;

    }
}