@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.buscador {

    &__grid {
        @include m.grid(2, 3rem);
    }

    &__contenedor {
        width: 100%;
        margin: 0 0 4rem 0;
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: .5rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        label {
            margin-bottom: 2rem;
        }
    }

    &__campo-contenedor {
        margin: 0 0 3rem 0;

    }

    &__campo {
        width: 100%;
        border-width: 1px;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.6rem;
    }

    &__campo-focus {
        border: none;
        border-bottom: .5px solid lighten(v.$grisBlanco, 15%) ;
        border-radius: .5rem;
        
    }

    &__opciones-contenedor {
        overflow-y: scroll;
        padding: 1rem;
        position: absolute;
        top: -10px;
        left: -10px;
        background-color: v.$blanco;
        width: 105%;
        border-radius: .5rem;
        border: 0.5px solid v.$grisBlanco;

        ul {
            padding: 0;
        }

        li {
            width: 100%;
            padding: 1rem;
            border-radius: 1rem;
            font-size: 1.6rem;
            &:hover {
                background-color: lighten(v.$grisBlanco, 20%);
                cursor: pointer;
            }

        }
    }

    &__boton {
        @include m.boton(v.$azul, v.$blanco);
        border-radius: .5rem;

        @include m.tablet {
            width: 100%;
        }
    }

}
