@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.producto {

    &__contenedor-boton {
        display: flex;
        justify-content: space-between;

    }

    &__boton {
        @include m.boton(v.$azul, v.$blanco);
        border-radius: .5rem;
        margin: 0 0 2rem 0;
        display: block;


        // @include m.tablet {

        // }
        &--verde {
            background-color: v.$verde;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:hover {
                background-color: darken(v.$verde, 10%)
            }
        }

        &--eliminar {
            margin: 1rem 0 0 0;
            padding: .5rem 1rem .5rem 1rem;
            background-color: v.$rojo;

            &:hover {
                background-color: darken(v.$rojo, 100%);
                color: v.$rojo;
            }
        }

        &--modificar {
            margin: 1rem 0 0 0;
            padding: .5rem 1rem .5rem 1rem;
            background-color: v.$azul;

            &:hover {

                background-color: darken(v.$azul, 10%)
            }
        }
    }

    &__grid {
        @include m.grid(1, 3rem);
    }

    &__contenedor {
        color: v.$blanco;
        background-color: v.$grisOscuroAzul;
        padding: 3rem;
        border-radius: 1rem;
        overflow: hidden;
        white-space: nowrap;
        border-left: 20px solid v.$verde;
        width: 100%;


        // &--slider {
        //     color: v.$blanco;
        //     background-color: v.$grisOscuroAzul;
        //     padding: 2rem; // Este padding provoca que no se vea el utlimo elemento adecuadamente, loop
        //     margin: 3rem 0 3rem 0;
        //     border-radius: 1rem;
        //     overflow: hidden;
        //     white-space: nowrap;

        //     a {
        //         color: v.$blanco;

        //         &:hover {
        //             color: v.$verde;
        //         }
        //     }

        //     h3 {
        //         text-align: center;
        //         margin-bottom: 1.5rem;
        //         font-size: 3rem;
        //     }

        //     p {
        //         overflow: hidden;
        //         text-overflow: ellipsis;
        //     }
        // }
    }

    &__contenedor--descuento {

        border-left: 20px solid v.$rojo;
    }


    &__card-contenedor {
        border-radius: 1rem;
        display: flex;
        gap: 0;
        background-color: v.$grisOscuroAzul;

        flex-direction: column;


        @include m.tablet {
            flex-direction: row;
        }

    }

    &__card-nombre {
        font-size: 3rem;
        text-align: center;
        overflow: hidden;
        white-space: pre-line;
        color: v.$blanco;
        text-overflow: ellipsis;

        @include m.phone {
            white-space: ellipsis;
        }

        @include m.tablet {
            font-size: 5rem;
        }
    }

    &__card-precio {
        text-align: center;
        font-weight: v.$bold;
        color: v.$verde;
        font-size: 5rem;
        
        @include m.phone {
            font-size: 9rem;
        }

        span {
            font-size: 2rem;
            color: v.$blanco;
        }

        &--oferta {
            color: v.$rojo;
        }
    }

    &__btn-opts {
        display: none;
        
        @include m.tablet {
            display: flex;
            justify-content: flex-end;
        }

    }

    &__card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-size: 1.4rem;

            @include m.phone {
                font-size: 2rem;
            }
        }
    }

    &__grid-card {

        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        
        @include m.tablet {
            @include m.grid(2, 1rem);
            margin-top: 6rem;
        }

    }

    &__card-contenedor-boton {
        
        background-color: v.$azul;
        padding: 1.5rem 3rem;
        margin: 2rem;
        transition: background-color .5s ease;

        &:hover {
            background-color: darken(v.$azul, 10%);
        }
    }

    &__card-contenedor-boton--ancho {
        width: 100%;
        margin: 1.5rem 0 0 0;
    }

}